:root {
  --button-color: rgb(255, 184, 97);
  --hover-color: rgba(255, 255, 255, 1.0);
  --header-color: rgb(180, 180, 180);
  --red-color: rgb(255, 88, 88);
  --bar-color: rgb(163, 218, 81);
  --button-color-2: rgb(175, 175, 254);
  --background-color-2: rgb(220, 220, 255);
}


.deviceBox {
  float: left;
  opacity: 1.0;
  width: 37.5%;
  height: 555px;
  overflow-wrap: break-word;
  display: block;
  overflow: hidden;
  align-items: center;
  align-content: center;
  margin-left: 10%;
  margin-top: 5%;
  position: relative;
  border: 3px solid rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  border-radius: 20px;
}

.deviceBox fieldset, .deviceBox legend  {
  border-radius: 10px;
}

.footer {
  position: absolute;
  bottom: 0px;
}

.header, .footer {
  background-color: var(--header-color);
  height: 9%;
}



#deviceBox1 {
  float: left;
  background-color:rgb(253, 211, 160);
  

}

#deviceBox2 {
  float: left;
  margin-left: 10%;
  background-color:var(--background-color-2);

}
.testDeviceBox {
  width: 35%;
  align-items: center;
  align-content: center;
  margin-left: 10%;
  
  float: left;
  border: 3px solid rgba(0, 0, 0, 0.0);
}

.insideDiv {
  margin-left: 1%;
  margin-top: 1%;
  border-radius: 3px;
  
}

.header, .footer {
  float: left;
  width: 100%;
}

#dataAsText {
  float: left;
  margin-left: 1%;
  margin-top: 20px;
}

.groups-tab button {
  display: block;
  background-color: var(--button-color);
  color: black;
  padding: 22px 16px;

  float: left;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  outline: none;
  text-align: left;
  margin-top: 5px;
  cursor: pointer;
}

.groups-tab-cprog button {
  display: block;
  background-color: var(--button-color-2);
  color: black;
  padding: 22px 16px;

  float: left;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  outline: none;
  text-align: left;
  margin-top: 5px;
  cursor: pointer;
}

.group-pane-button {
  height: 50px;
}

.info-pane-button {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 77px;
  height: 50px;
}

.home-pane-btn, .full-btn, .half-btn, .full-btn-c {
  display: block;
  color: black;
  padding: 22px 16px;
  height: auto;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  outline: none;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  
}

.full-btn {
  background-color: var(--button-color);
}

.full-btn-c {
  background-color: var(--button-color-2);
}

.full-btn, .full-btn-special, .full-btn-c {
  margin-left: 5%;
  width: 90%;
}

.full-btn-special {
  background-color: var(--red-color);
}

.half-btn {
  margin-left: 5%;
  width: 42.5%;
  background-color: var(--header-color);
  overflow-x: hidden;
}


.on-btn {
  width: 25%;
  margin-left: 3%;
  /*animation:on-blink 4s infinite;*/
}

@keyframes on-blink {
  0% {background-color: var(--button-color);}
  50% {background-color: var(--bar-color);}
  100% {background-color: var(--button-color);}
}

@keyframes on-blink-C {
  0% {background-color: var(--button-color-2);}
  50% {background-color: var(--bar-color);}
  100% {background-color: var(--button-color-2);}
}

.up-dn-btn, .on-btn {
  background-color: var(--button-color);
  border-radius: 10px;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.all-off-btn {
  background-color: var(--red-color);
  border-radius: 10px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  
}

.up-dn-btn {
  width: 30px;
}

.up-dn-btn:hover, .on-btn:hover, .all-off-btn:hover, #current-time-select:hover, #current-time-select-cprog:hover, #current-time-select:focus, #current-time-select-cprog:focus {
  background-color: var(--hover-color);
}

.groups-tab button:hover, .groups-tab button.active, .groups-tab-cprog button:hover, .groups-tab-cprog button.active, .home-pane-btn:hover, .full-btn:hover, .half-btn:hover, .full-btn-c:hover {
  background-color: var(--hover-color);
}

.up-dn-pane-cprog button  {
  background-color: var(--button-color-2);
}



#group-selector {
  float: left;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 10px;
  text-align-last: right;
  padding-right: 50%;
  direction: rtl;
  background-color: var(--button-color);
}

#group-selector-C {
  float: left;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 10px;
  text-align-last: right;
  padding-right: 50%;
  direction: rtl;
  background-color: var(--button-color-2);
}

#group-selector:hover, #group-selector-C:hover {
  background-color: var(--hover-color);
}

.battery-bar {
  -webkit-appearance: none;
  appearance: none;
  width : 40px;
  height : 20px;
  /*background-color: rgb(206, 255, 132);*/
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 1);
  
}


progress[value]::-webkit-progress-value {
  background-color: var(--bar-color);
}

#level-bar {
  width : 33%;
}

#level-bar[value]::-webkit-progress-value {
  background-color: var(--bar-color);
}
@keyframes bar-blink {
  0% {background-color: var(--bar-color);}
  50% {background-color: var(--red-color);}
  100% {background-color: var(--bar-color);}
}

#current-time-select {
  background-color: var(--button-color);
  border-radius: 10px;
}

#current-time-select-cprog {
  background-color: var(--button-color-2);
}

#current-time-select, #current-time-select-cprog {
  border-radius: 10px;
}

.data-cprog input, #notesBox{
  background-color: var(--background-color-2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  
  text-align: center;
  direction: ltr;
}
.data-cprog input:hover, .data-cprog input:focus, #notesBox:focus, #notesBox:hover {
  background-color: var(--hover-color);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
#notesBox {
  width: 100%;
  overflow-wrap: break-word;
  resize: none;
}
.smallBox {
  width: 10%;
}
