:root {
  --button-color: rgb(255, 184, 97);
  --hover-color: rgb(255, 255, 255);
}

.deviceBox {
  float: left;
  opacity: 1.0;
  width: 35%;
  height: 450px;
  overflow-wrap: break-word;
  display: block;
  overflow: hidden;
  align-items: center;
  align-content: center;
  margin-left: 10%;
  margin-top: 5%;
  position: relative;
  border: 3px solid rgba(0, 0, 0, 0.75);
  
}
/*.deviceBox::before {    
  content: "";
  background-image: url("./images/HumanBody.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}*/

.header {
  background-color:rgb(180, 180, 180);
  height: 10%;
}

#deviceBox1 {
  float: left;
  background-color:rgb(253, 211, 160);
  

}

#deviceBox2 {
  float: left;
  margin-left: 10%;
  background-color:rgb(220, 220, 255);

}
.testDeviceBox {
  width: 35%;
  align-items: center;
  align-content: center;
  margin-left: 10%;
  background-color:lightpink;
  float: left;
  border: 3px solid rgba(0, 0, 0, 0.75);
}

.insideDiv {
  margin-left: 1%;
  margin-top: 1%;
  border-radius: 3px;
  
}

.header {
  float: left;
  width: 100%;
}

#dataAsText {
  float: left;
  margin-left: 1%;
  margin-top: 20px;
}

.groups-tab button {
  display: block;
  background-color: var(--button-color);
  color: black;
  padding: 22px 16px;
  width: auto;
  height: auto;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  outline: none;
  text-align: left;
  margin-top: 10px;
  cursor: pointer;
}

.groups-tab button:hover, .groups-tab button.active {
  background-color: var(--hover-color);
}

.up-dn-btn, .on-btn {
  background-color: var(--button-color);
  border-radius: 10px;
  width: auto;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.up-dn-btn:hover, .on-btn:hover {
  background-color: var(--hover-color);
}

#group-selector {
  float: left;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  text-align-last: right;
  padding-right: 50%;
  direction: rtl;
  background-color: var(--button-color);
}

#group-selector:hover {
  background-color: var(--hover-color);
}

